#about-me {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

#about-me .text-content-container > * {
  max-width: 40rem;
  margin-top: 1rem;
}

#about-me .ball {
  height: 22rem;
  width: 22rem;
  border-radius: 100%;
  margin-top: 3rem;
  object-fit: cover;
}

@media (min-width: 85rem) {
  #about-me {
    flex-direction: row-reverse;
  }

  #about-me .text-content-container {
    text-align: right;
    margin-left: 2rem;
  }

  #about-me .ball {
    height: 32rem;
    width: 32rem;
  }
}
