#about-me {
  width: fit-content;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

#about-me .text-content-container > * {
  margin-top: 1rem;
}

#about-me .ball {
  height: 22rem;
  width: 22rem;
  margin-top: 3rem;
  border-radius: 100%;
}

@media only screen and (min-width: 800px) {
  #about-me {
    flex-direction: row-reverse;
  }

  #about-me .text-content-container {
    text-align: right;
    margin-left: 2rem;
  }

  #about-me .ball {
    height: 32rem;
    width: 32rem;
  }
}
