#about-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

#about-me .text-content-container > * {
  margin-top: 1rem;
}

#about-me input {
  height: 2.5rem;
  width: 10rem;
  margin-top: 2rem;
  border-radius: 20px;
  border: white;
  color: white;
  background-color: #00a85a;
  transition: 0.15s ease-in-out;
}

#about-me input:hover {
  cursor: pointer;
  background-color: #05b361;
}

#about-me .ball {
  height: 22rem;
  width: 22rem;
  margin-top: 3rem;
  border-radius: 100%;
  background-color: #2e2d2d;
  box-shadow: 1px 1px 4px 0 rgba(160, 158, 158, 0.178);
}

@media only screen and (min-width: 800px) {
  #about-me {
    flex-direction: row-reverse;
  }

  #about-me .text-content-container {
    text-align: right;
    margin-left: 2rem;
  }
}
