#contact-container {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#contact-container h1 {
  margin-bottom: 0.5rem;
}

/* Sizing */
#email,
#text,
#contact-container button {
  width: 100%;
  max-width: 40rem;
  height: 7.5vh;
}

#email,
#text {
  border-radius: 5px;
  outline: 0;
  font-size: 1.25rem;
  text-indent: 10px;
}

#text {
  height: 16.5vh;
  resize: none;

  /* 
     Not quite sure why this has to exist 
     here when it's in body (but it won't work without it)
  */
  font-family: Arial, Helvetica, sans-serif;
}

#email:hover,
#text:hover {
  border-color: none;
  box-shadow: none;
  outline: 0;
}

#contact-container button {
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 35px;
}
