:root {
  --background: #121212;
  --background-overlay: #2e2d2d;
  --background-overlay-hover: #383737;
  --white-text-color: #f2f2f2;
  --light-gray-text-color: #b4b4b4;
}

* {
  margin: 0px;
  padding: 0px;
  color: var(--white-text-color);
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

h3,
p {
  font-weight: normal;
  color: var(--light-gray-text-color);
}

p {
  font-size: 20px;
}

#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-overlay {
  border: none;
  background-color: var(--background-overlay);
  box-shadow: 1px 1px 4px 0 rgba(160, 158, 158, 0.178);
  z-index: 3;
}

.custom-overlay-green {
  background-color: #00a85a;
}

.custom-overlay-green:hover {
  background-color: #05b361;
}

.custom-button {
  height: 2.5rem;
  width: 10rem;
  margin-top: 2rem;
  border-radius: 20px;
  border: none;
  color: var(--white-text-color);
  transition: 0.15s ease-in-out;
}

.custom-button:hover {
  cursor: pointer;
}
