#services {
  width: 75%;
  max-width: 90rem;
  margin-top: 6rem;
}

#services,
#services #cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#services #info {
  text-align: center;
}

#services .card-container {
  width: 100%;
  border-radius: 20px;
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  transition: 0.15s ease-in-out;
}

#services .card-container:hover {
  transform: perspective(225px) translateZ(5px);
  transition: 0.15s ease-in-out;
}

#services .card-container > * {
  margin-top: 1rem;
}

#services .card-container img {
  height: 50px;
  width: 50px;
}

@media (min-width: 75rem) {
  #services #cards {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
  }

  #services .card-container {
    height: 15rem;
    width: 40%;
  }
}
